.videoPlayer {
  position: relative;
  max-width: 850px;
  width: 100%;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      span:first-child {
        position: relative;
        margin-right: 10px;
        .videoPlayer__volume {
          opacity: 0;
          padding: 0;
          width: 6rem;
          position: absolute;
          left: 45%;
          bottom: 60%;
          transform: rotate(270deg);
          transform-origin: 0;
        }
        &:hover,
        .videoPlayer__volume:hover {
          .videoPlayer__volume {
            opacity: 1;
          }
        }
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
