.videoPlayer {
  position: relative;
  max-width: 850px;
  width: 100%;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    column-gap: 30px;
    font-size: 16px;
    .play-column {
      justify-self: start;
    }
    .volume-column {
      display: flex;
      align-items: center;
      span:first-child {
        position: relative;
        margin-right: 10px;
        .videoPlayer__volume {
          opacity: 0;
          padding: 0;
          width: 6rem;
          position: absolute;
          left: 45%;
          bottom: 70%;
          transform: rotate(270deg);
          transform-origin: 0;
        }
        &:hover,
        .videoPlayer__volume:hover {
          .videoPlayer__volume {
            opacity: 1;
          }
        }
      }
    }
    .progress-column {
      input[type="range"] {
        min-width: 100%;
        padding: 0px;
      }
    }
    .fullscreen-column {
      justify-self: end;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
