.social-login
    button.social-login__github
        span
            i.fab.fa-github
        | &nbsp;Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | &nbsp;Continue with Facebook
    button.social-login__kakaotalk
        span
            i.fas.fa-comment
        | &nbsp;Continue with KakaoTalk