include ../mixins/message

doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css", integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/style.css")
    body
        if messages.error
            +message({
                type:"error",
                text:messages.error
            })
        if messages.info
            +message({
                type:"info",
                text:messages.info
            })
        if messages.success
            +message({
                type:"success",
                text:messages.success
            })
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")